.container{
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
@include pad() {
  .container{
    max-width: 720px;
  }
}
@include mobile {
  .container{
    max-width: 372px;
  }
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-block-in{
  display: inline-block;
}
.d-none{
  display: none;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.text-right{
  text-align: right;
}
.text-primary{
  color: $primaryColor;
}
.text-secondary{
  color: $secondaryColor;
}
.text-color{
  color: #fff;
}
.font-blod{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.bg-primary{
  background-color: $secondaryColor;
}
.bg-secondary{
  background-color: #FBF2F2;
}
.text-center{
  text-align: center;
}
// .fz-1{
//   font-size: 14px;
// }
// .fz-2{
//   font-size: 16px;
// }
// .fz-3{
//   font-size: 20px;
// }
// .fz-4{
//   font-size: 24px;
// }
// .fz-5{
//   font-size: 36px;
// }
// .fz-6{
//   font-size: 48px;
// }
// .fz-7{
//   font-size: 64px;
// }
//
// .pt-0{
//   padding-top: 0;
// }
// .pb-0{
//   padding-bottom: 0;
// }
// .mr-0{
//   margin-right: 0;
// }
// .mb-1{
//   margin-bottom: 4px;
// }
// .mb-2{
//   margin-bottom: 8px;
// }
// .mb-4{
//   margin-bottom: 16px;
// }
// .mr-4{
//   margin-right: 16px;
// }
// .mb-6{
//   margin-bottom: 24px;
// }
// .mb-8{
//   margin-bottom: 32px;
// }
// .mr-8{
//   margin-right: 32px;
// }
// .mb-12{
//   margin-bottom: 48px;
// }
// .mr-12{
//   margin-right: 48px;
// }
// .mr-16{
//   margin-right: 64px;
// }
// .pr-3{
//   padding-right: 12px;
// }
// .pl-3{
//   padding-left: 12px;
// }
// .pt-6{
//   padding-top: 24px;
// }
// .pb-6{
//   padding-bottom: 24px;
// }
// .pt-12{
//   padding-top: 48px;
// }
// .pt-3{
//   padding-top: 12px;
// }
// .pb-3{
//   padding-bottom: 12px;
// }
// .pt-4{
//   padding-top: 16px;
// }
// .pb-4{
//   padding-bottom: 16px;
// }
// .pt-8{
//   padding-top: 32px;
// }
// .pb-8{
//   padding-bottom: 32px;
// }
// .pt-20{
//   padding-top: 80px;
// }
// .pb-20{
//   padding-bottom: 80px;
// }
@include pad{
  
  // .mr-md-4{
  //   margin-right: 16px;
  // }
  // .mb-md-6{
  //   margin-bottom: 24px;
  // }
  // .pt-md-2{
  //   padding-top: 8px;
  // }
  // .pb-md-2{
  //   padding-bottom: 8px;
  // }
}
@include pad-small{
  .w-sm-50{
    width: 50%;
  }
  .w-sm-100{
    width: 100%;
  }
  .flex-sm-wrap{
    flex-wrap: wrap;
  }
  .flex-sm-column{
    flex-direction: column;
  }
  .align-items-sm-start{
    align-items: flex-start;
  }
  .d-sm-block{
    display: block;
  }
  .text-sm-center{
    text-align: center;
  }
  .d-sm-none{
    display: none;
  }
  // .fz-sm-1{
  //   font-size: 14px;
  // }
  // .fz-sm-2{
  //   font-size: 16px;
  // }
  // .fz-sm-3{
  //   font-size: 20px;
  // }
  // .fz-sm-4{
  //   font-size: 24px;
  // }
  // .fz-sm-5{
  //   font-size: 36px;
  // }
  // .fz-sm-6{
  //   font-size: 48px;
  // }
  // .fz-sm-7{
  //   font-size: 64px;
  // }
  // .mr-sm-0{
  //   margin-right: 0;
  // }
  // .ml-sm-0{
  //   margin-left: 0;
  // }
  // .mb-sm-2{
  //   margin-bottom: 8px;
  // }
  // .mr-sm-2{
  //   margin-right: 8px;
  // }
  // .mb-sm-6{
  //   margin-bottom: 24px;
  // }
  // .pt-sm-6{
  //   padding-top: 24px;
  // }
  // .pb-sm-6{
  //   padding-bottom: 24px;
  // }
  // .pt-sm-0{
  //   padding-top: 0;
  // }
  // .pt-sm-10{
  //   padding-top: 40px;
  // }
  // .pb-sm-10{
  //   padding-bottom: 40px;
  // }
  // .pb-sm-0{
  //   padding-bottom: 0;
  // }
  .border-1 {
    border: 1px solid #fff;
  }
  .nav{
    margin-right: -12px;
    margin-left: -12px;
  }
}
@include mobile{
  // .fz-xs-1{
  //   font-size: 16px;
  // }
  // .fz-xs-4{
  //   font-size: 24px;
  // }
  // .mb-xs-6{
  //   margin-bottom: 24px;
  // }
}

$spacer: 4px;
$spacer-types: () !default;

@for $i from 0 through 20 {
  $spacer-types: map-merge($spacer-types, ($i: $spacer * $i));
}
@each $name, $spacer in $spacer-types {
  .m-#{$name} {
    margin: $spacer;
  }
  .mt-#{$name} {
    margin-top: $spacer;
  }
  .mb-#{$name} {
    margin-bottom: $spacer;
  }
  .ml-#{$name} {
    margin-left: $spacer;
  }
  .mr-#{$name} {
    margin-right: $spacer;
  }
  .p-#{$name} {
    padding: $spacer;
  }
  .pt-#{$name} {
    padding-top: $spacer;
  }
  .pb-#{$name} {
    padding-bottom: $spacer;
  }
  .pl-#{$name} {
    padding-left: $spacer;
  }
  .pr-#{$name} {
    padding-right: $spacer;
  }
}

@include pad {
  @each $name, $spacer in $spacer-types {
    .mt-md-#{$name} {
      margin-top: $spacer;
    }
    .mb-md-#{$name} {
      margin-bottom: $spacer;
    }
    .ml-md-#{$name} {
      margin-left: $spacer;
    }
    .mr-md-#{$name} {
      margin-right: $spacer;
    }
    .pt-md-#{$name} {
      padding-top: $spacer;
    }
    .pb-md-#{$name} {
      padding-bottom: $spacer;
    }
    .pl-md-#{$name} {
      padding-left: $spacer;
    }
    .pr-md-#{$name} {
      padding-right: $spacer;
    }
  }
}
@include pad-small {
  @each $name, $spacer in $spacer-types {
    .mt-sm-#{$name} {
      margin-top: $spacer;
    }
    .mb-sm-#{$name} {
      margin-bottom: $spacer;
    }
    .ml-sm-#{$name} {
      margin-left: $spacer;
    }
    .mr-sm-#{$name} {
      margin-right: $spacer;
    }
    .pt-sm-#{$name} {
      padding-top: $spacer;
    }
    .pb-sm-#{$name} {
      padding-bottom: $spacer;
    }
    .pl-sm-#{$name} {
      padding-left: $spacer;
    }
    .pr-sm-#{$name} {
      padding-right: $spacer;
    }
  }
}
@include mobile {
  @each $name, $spacer in $spacer-types {
    .mt-xs-#{$name} {
      margin-top: $spacer;
    }
    .mb-xs-#{$name} {
      margin-bottom: $spacer;
    }
    .ml-xs-#{$name} {
      margin-left: $spacer;
    }
    .mr-xs-#{$name} {
      margin-right: $spacer;
    }
    .pt-xs-#{$name} {
      padding-top: $spacer;
    }
    .pb-xs-#{$name} {
      padding-bottom: $spacer;
    }
    .pl-xs-#{$name} {
      padding-left: $spacer;
    }
    .pr-xs-#{$name} {
      padding-right: $spacer;
    }
  }
}
$fontSize-types: (
  1: 14px,
  2: 16px,
  3: 20px,
  4: 24px,
  5: 36px,
  6: 48px,
  7: 64px
) !default;

@each $val, $size in $fontSize-types {
  .fz-#{$val} {
    font-size: $size;
  }
}
@include pad {
  @each $val, $size in $fontSize-types {
    .fz-md-#{$val} {
      font-size: $size;
    }
  }
}
@include mobile {
  @each $val, $size in $fontSize-types {
    .fz-sm-#{$val} {
      font-size: $size;
    }
  }
}