<header class="header bg-primary">
  <div class="container">
    <div class="content d-flex flex-sm-wrap flex-sm-column">
      <h1 class="logo">
        <a class="pt-4 pb-4" href="./index.html">
          <img src="../assets/images/logo-white.png" alt="眼鏡形象官網">
        </a>
      </h1>
      <nav class="nav d-flex align-items-center">
        <ul class="d-flex w-sm-100 flex-sm-wrap text-sm-center">
          <li class="mr-16 w-sm-50 mr-sm-0 border-1">
            <a class="text-color pt-3 pb-3" href="./category.html">系列鏡框</a>
          </li>
          <li class="mr-16 w-sm-50 mr-sm-0 border-1">
            <a class="text-color pt-3 pb-3" href="./location.html">門市據點</a>
          </li>
          <li class="mr-16 w-sm-50 mr-sm-0 border-1">
            <a class="text-color pt-3 pb-3" href="./blog.html">部落格</a>
          </li>
          <li class="w-sm-50 border-1">
            <a class="text-color pt-3 pb-3" href="./qa.html">常見問題</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>