.logo{
  margin-right: auto;
  & img{
    width: 80px;
  }
}
@include mobile{
  .header > .container{
    max-width: 100%;
  }
}
.nav{
  a{
    font-size: 20px;
    &:hover{
      color: $secondaryColor;
    }
    @include pad-small{
      font-size: 16px;
    }
  }
}