//banner區塊
.banner > .container{
  max-width: 100%;
}
.banner{
  background-image: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
  @include pad{
    background-image: url(../images/home-header-sm.png);
  }
  @include mobile{
    height: 396px;
  }
}
//feature區塊
.feature{
  ul{
    margin-left: -12px;
    margin-right: -12px;
  }
  li{
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
    @include pad{
      width: 50%;
    }
    @include mobile{
      width: 100%;
    }
  }
  img{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
//class區塊
.classic{
  ul{
    margin-left: -12px;
    margin-right: -12px;
  }
  li{
    width: 33.3333%;
    padding-right: 12px;
    padding-left: 12px;
    @include pad{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    @include mobile{
      width: 100%;
    }
  }
} 