//banner區塊
.banner > .container{
  max-width: 100%;
}
.banner{
  background-image: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
  @include pad{
    background-image: url(../images/home-header-sm.png);
  }
  @include mobile{
    height: 396px;
  }
}
//feature區塊
.feature{
  ul{
    margin-left: -12px;
    margin-right: -12px;
  }
  li{
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
    @include pad{
      width: 50%;
    }
    @include mobile{
      width: 100%;
    }
  }
  img{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
//class區塊
.classic{
  ul{
    margin-left: -12px;
    margin-right: -12px;
  }
  li{
    width: 33.3333%;
    padding-right: 12px;
    padding-left: 12px;
    @include pad{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    @include mobile{
      width: 100%;
    }
  }
}
//jointDesign區塊
.jointDesign{
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include pad{
    background-image: url(../images/index-bg-sm.png);
  }
  @include mobile{
    background-image: url(../images/index-bg-md.png);
  }
  li{
    width: 50%;
    @include pad{
      width: 100%;
    }
  }
  .title{
    background-color: #fff;
  } 
}
//
/*customerRecomemd區塊*/
.customerRecommend{
  ul{
    margin-left: -12px;
    margin-right: -12px;
  }
  li{
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
    @include pad{
      width: 50%;
    }
    @include mobile{
      width: 100%;
    }
  }
}
.card{
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  span{
    margin-top: auto;color: #707070;
  }
}
//contactMe區塊
.contactMe{
  .content{
    width: 60%;
    margin: 0 auto;
    @include pad{
        width: 80%;
    }
    @include pad-small{
        width: 100%;
    }
  }
}
.text {
  input[type="text"],
  & textarea{
    width: 100%;
    border: 1px solid #000;
  }
  & textarea{
    padding: 6px 12px;
    height: 136px;
  }
}
.inputStyle{
  padding: 6px 12px ;
}
.checkbox{
  width: 24px;
  height: 24px;
  @include mobile {
    align-self: flex-start;
    margin: 0 4px 0 0;
  }
}
.send{
  background-color: $primaryColor;
  width: 60%;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  &:hover{
    background-color: $secondaryColor;
  }
}