<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="banner">
        <div class="container h-100">
          <div class="h-100">
            <div class="d-flex flex-column justify-content-center h-100">
              <div class="text-right text-primary">
                <h1 class="fz-6 fz-xs-1">Promise-Desert 2020 早春系列</h1>
                <h2 class="fz-8 fz-xs-5 mb-1 mb-sm-2 font-blod">看得清，才能看得遠</h2>
                <a class="bg-primary fz-4 d-block-in text-color pr-3 pl-3 buyBtn" href="#">
                  <span class="d-block">立即購買</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
